section {
  display: inline-flex;
  align-items: center;
  padding: 100px 0;
}

.section-bd-image {
  width: 412px;
  height: 579px;
}

.section-info {
  display: flex;
  width: 629px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 62px;
}

section p {
  color: #fffb89;
  font-family: "regulator-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  font-weight: 200;
  letter-spacing: 0.46px;
  height: 329px;
  padding: 0 50px;
}

.section-buying-button {
  display: flex;
  width: 413px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0 50px;
}
section img {
  width: 100%;
  transition: transform 0.2s;
}

section img:hover {
  transform: scale(1.1);
}
