* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

h1 {
  font-family: "balboa-plus-fill", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  text-align: center;
  font-size: 180px;
}
