.footer-title {
  color: #fffb89;
  font-family: "regulator-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;

  letter-spacing: 0.4px;
  padding: 20px 0;
}
footer {
  padding-inline: 0%;
  color: #fffb89;
  font-family: "regulator-nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 20px 0;
}

.footer-contact-contain {
  color: #fffb89;
  font-family: "regulator-nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.footer-media-content {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fffb89;
}
