.footer-title {
  color: #fffb89;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;

  letter-spacing: 0.4px;
  padding: 20px 0;
}
footer {
  padding-inline: 0%;
  color: #fffb89;
  font-family: Inter;
  padding: 20px 0;
}

.footer-contact-contain {
  color: #fffb89;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
}

.footer-media-content {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fffb89;
}
