.l-homepage {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-homepage-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.l-homepage-notification {
  position: absolute;
}

.l-homepage-notification-1 {
  width: 35%;
  left: 10%;
  top: 10%;
  scale: 0;
}
.l-homepage-notification-2 {
  width: 35%;
  left: 2%;
  top: 50%;
  scale: 0;
}
.l-homepage-notification-3 {
  width: 25%;
  left: 30%;
  top: 46%;
  scale: 0;
}

.l-homepage-notification-4 {
  width: 40%;
  left: 50%;
  top: 75%;
  scale: 0;
}

.l-homepage-notification-5 {
  width: 30%;
  left: 60%;
  top: 15%;
  scale: 0;
}

.l-homepage-flash {
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  scale: 0;
}

/* ************************************
Scene 1
************************************ */

.l-homepage-story-wrap {
  position: relative;
}

.l-homepage-story-transition1::before {
  content: "";
  position: absolute;
  top: -50vh;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0) 0%,
    rgba(255, 0, 0, 0) 0.5%,
    rgb(0, 0, 0) 100%
  );
}

.l-homepage-background-1 {
  width: 100%;
  top: 90%;
}

.l-homepage-scene1-blue-car {
  position: absolute;
  width: 100%;
  bottom: -26vw;
  left: 0;
  z-index: 1;
}
/* ************************************
Scene 2
************************************ */
.l-homepage-scene2 {
  position: relative;
}
.l-homepage-scene2-background {
  width: 100%;
}
.l-homepage-story-transition1 {
  position: relative;
}

.l-homepage-scene2-bulle1 {
  width: 10%;
  position: absolute;
  top: 40vw;
  left: 24vw;
}

.l-homepage-scene2-bulle2 {
  width: 30%;
  position: absolute;
  top: 66vw;
  left: 60vw;
}

.l-homepage-scene2-bulle3 {
  width: 30%;
  position: absolute;
  top: 90vw;
  left: 18vw;
}

.l-homepage-story-transition2::before {
  content: "";
  position: absolute;
  top: -50vh;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0) 0%,
    rgba(255, 0, 0, 0) 0.5%,
    rgb(0, 0, 0) 100%
  );
}
/* ************************************
Scene 3
************************************ */
.l-homepage-scene3-background {
  width: 100%;
  position: relative;
}

/* ************************************
Scene 4
************************************ */
.l-homepage-scene4-background {
  width: 100%;
}
.l-homepage-scene4 {
  position: relative;
}
.l-homepage-scene4-bulle1 {
  width: 90%;
  position: absolute;
  top: -3vw;
  left: 4vw;
}
.l-homepage-scene4-bulle2 {
  width: 20%;
  position: absolute;
  top: 140vw;
  left: 14vw;
}
.l-homepage-scene4-bulle3 {
  width: 20%;
  position: absolute;
  top: 140vw;
  left: 55vw;
}
