.l-homepage {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-homepage-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.l-homepage-notification {
  position: absolute;
}

.l-homepage-notification-1 {
  width: 35%;
  left: 10%;
  top: 10%;
  scale: 0;
}
.l-homepage-notification-2 {
  width: 35%;
  left: 2%;
  top: 50%;
  scale: 0;
}
.l-homepage-notification-3 {
  width: 25%;
  left: 30%;
  top: 46%;
  scale: 0;
}

.l-homepage-notification-4 {
  width: 40%;
  left: 50%;
  top: 75%;
  scale: 0;
}

.l-homepage-notification-5 {
  width: 30%;
  left: 60%;
  top: 15%;
  scale: 0;
}

.l-homepage-flash {
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  scale: 0;
}

.l-homepage-background-1 {
  width: 100%;
  top: 90%;
}

.l-homepage-scene1-blue-car {
  position: absolute;
  width: 100%;
  bottom: -33vw;
  left: 0;
}

.l-homepage-background-scene2 {
  width: 100%;
}
.l-homepage-story-transition1 {
  position: relative;
}

// .l-homepage-bulle1-scene2 {
//   width: 10%;
//   position: relative;
//   top: 300px;
//   left: 550px;
// }
